.toolbar
    display: flex
    justify-content: center
    align-items: baseline
    margin: 3vh 0 3vh 0
    gap: 1em

.toolbar div button:last-child
    margin-left: 0.5em

.header
    display: flex
    flex-direction: column

.header > *
    margin: 0 0 0 0

.content
    display: grid
    justify-items: center
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr))
    gap: 3em 0.8em
    margin: 0 3vw 0 3vw

.content > *
    width: 150px
    text-align: center

.progress-wrapper
    display: flex
    flex-direction: column
    align-items: center
    margin: 0 20px 0 20px