<div class="toolbar">
  <div class="header">
    <h2 class="title">Currency RUB</h2>
    <h5 class="subtitle">{{ getFormatDate() }}</h5>
  </div>
  <div>
    <button class="button" title="Добавить валюту" (click)="addCurrency()" [disabled]="this.showingCurrencies.length >= 6">
      <span class="icon is-small">
        <i class="fas fa-plus"></i>
      </span>
    </button>
    <button class="button" title="Убрать валюту" (click)="removeCurrency()" [disabled]="this.showingCurrencies.length <= 3">
      <span class="icon is-small">
        <i class="fas fa-minus"></i>
      </span>
    </button>
  </div>
</div>
<div *ngIf="loadStatus; else cont" class="progress-wrapper">
  <h4 class="title is-4">{{loadMessage}}</h4>
  <progress class="progress is-large is-info" max="100">60%</progress>
</div>
<ng-template #cont>
  <div class="content">
    <ng-template ngFor let-rate [ngForOf]="this.showingCurrencies">
      <app-currency-rate [currencyObject]="getCurrenciesArray(rate)"></app-currency-rate>
    </ng-template>
  </div>
</ng-template>